<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  <ul>
  <div><a href="/rock" target="_blank">Play Rock</a></div>
  <div><a href="/paper" target="_blank">Play Paper</a></div>
  <div><a href="/scissors" target="_blank">Play Scissors</a></div>
  </ul>
 <%= yield %>

  </body>
</html>
